[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
faker = "*"
hypothesis = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-pythonpath = "*"

[requires]
python_version = "3.7"

[dev-packages]
ipdb = "*"
black = "*"
